/* ----navbar---- */
nav{
    position: sticky;
    top: 0%;
    background-color: inherit;
}
.main-nav-cont{
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-inline);
    user-select: none;
}
.left-nav h2{
    color: var(--yellow);
}
.hoverlinks{
    align-items: center;
    gap: 30px;
}

.navlink{
    transition: 0.2s all ease-in-out;
}
.navlink:hover{
    color: var(--main-green);
}
.nav-toggle{
    display: none;
}
.nav-toggle i{
    color: var(--yellow);
    background-color: #EAECF0;
}


/* ----main-banner---- */
.main-banner-cont{
    height: 70vh;
    align-items: center;
    user-select: none;
    justify-content: space-between;
    user-select: none;
}
.left-main-banner,.right-main-banner{
    width: 48%;
    padding: var(--padding-inline);
}
.right-main-banner img{
    width: 100%;
}
.left-main-banner{
    flex-direction: column;
    gap: 50px;
}
.bottom-left-main-banner{
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


/* ----main-text---- */
.main-text{
    background-color: var(--main-green);
    padding-top: calc(30vh - 85px);
    padding-bottom: calc(30vh - 85px);
    text-align: center;
    user-select: none;
}


/* ---about-us---- */
.about-us-section{
    padding-top: 80px;
    user-select: none;
}

.about-us-section-cont{
    padding: var(--padding-inline);
    padding-top: 80px;
    justify-content: space-between;
    align-items:end;
    border-top: 1px solid white;
}

.left-land-aboutus{
    width: 50%;
    flex-direction: column;
    gap: 50px;
}
.land-about-content{
    flex-direction: column;
    gap: 20px;
}
.right-land-aboutus{
    width: 40%;
    border-radius: 12px;
}
.right-land-aboutus img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}


/* ----services----- */


.services-cont{
    flex-direction: column;
    gap: 20px;
    padding: var(--padding-inline);
    padding-top: 100px;
    text-align: center;
    user-select: none;
}
.services-content{
    flex-direction: column;
    gap: 20px;
   
}
.services-content p{
    text-align: center;
}

.services-cards-area-land{
    background-color: #fff;
    color: black;
    padding: 50px;
    border-radius: 25px 25px 0 0;
    flex-wrap: wrap;
}
.services-cards-area-land .services-land-card:nth-child(-n+3){
    border-bottom: 1px dotted #EAECF0;
}
.services-cards-area-land .services-land-card:nth-child(1),.services-land-card:nth-child(4){
    border-right: 1px dotted #EAECF0;
}
.services-cards-area-land .services-land-card:nth-child(3),.services-land-card:nth-child(6){
    border-left: 1px dotted #EAECF0;
}
.services-land-card{
    padding: 40px 20px;
    width: 33%;
    gap: 10px;
}
.right-lservices h3,p{
    text-align: left;
}




/* ---why choose---- */
.why-choose-cont{
    padding:50px var(--padding-inline);
    justify-content: space-between;
    align-items: center;
    user-select: none;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
}
.left-whychoose img{
    width: 100%;;
}
.left-whychoose{
    width: 50%;
    padding: var(--padding-inline);
}
.right-whychoose{
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: var(--padding-inline);
}
.whychoose-activity{
    gap: 10px;
    align-items: center;
}


/* ----testimonials---- */
.testimonials{
    background-color: var(--main-green);
    color: #EAECF0;
    user-select: none;
}
.testimonials .secondary-button{
    color: black;
    border-color: black;
}
.testimonial-header{
    width: 60%;
    flex-direction: column;
    gap: 20px;
    padding: 50px var(--padding-inline);
}
.test-head-val{
    gap: 40px;
}
.val .size{
    font-size: 0.8rem;
}
.testimonial-asset img{
    width: 100%;
    border-radius: inherit;
}
.testimonial-asset{
    width: 40%;
    border-radius: 12px;
    padding:50px var(--padding-inline);
}

.main-testi{
    align-items: center;
}

.testi-profile{
    align-items: start;
    padding: var(--padding-inline);
    gap: 10px;
}
.testi-lprofile img{
    width: 100%;
}
.testi-lprofile{
    width: 20%;
}


.left-testi-card{
    width: 30%;
    color: #EAECF0;
}
.right-testi-card{
    width: 70%;
    color: #EAECF0;
}
.right-testi-card p{
    text-align: justify;
    color: #EAECF0;
}
.right-testi-card h2{
    font-size: 2rem;
    color: #EAECF0;
}
.testi-rprofile h3,.testi-rprofile p{
    color: #EAECF0;
}
.testi-card{
    border-top: 1px solid black;
    padding: 45px var(--padding-inline);
}


/* ----footer----- */
.footer-cont{
    justify-content: space-between;
    padding: 50px var(--padding-inline);
    user-select: none;
    gap: 50px;
}
.left-footer{
    width: 25%;
    padding: var(--padding-inline);
    flex-direction: column;
    gap: 15px;
}
.footer-logos{
    padding:var(--padding-inline) 0px;
    gap: 20px;
}
.mid-footer{
    width: 35%;
    padding: var(--padding-inline);
    justify-content: space-between;
    gap: 50px;
}
.right-footer{
    width: 25%;
    padding: var(--padding-inline);
    flex-direction: column;
    gap: 10px;
}

.footerlinks{
    flex-direction: column;
    gap: 8px;
}
.footerlogos{
    color: var(--main-green);
}
.footerlink{
    transition: 0.2s all ease-in-out;
    font-size: 1.1rem;

}
.footerlink:hover{
    color: var(--main-green);
}
.sub-mid-footer{
    flex-direction: column;
    gap: 15px;
}
.footer-form{
    flex-direction: column;
    gap: 15px;
}
.footer-form input{
    padding: var(--padding-inline);
    border: none;
    font-family: 'Poppins',sans-serif;
    border-radius: 4px;
}
.footer-form input:focus{
    outline: none;
}

.footer-copy{
    justify-content: space-between;
    padding: 30px var(--padding-inline);
    text-transform: uppercase;
    border-top: 0.6px solid white;
    user-select: none;
}
.left-footer-copy p,.copylink{
    font-size: 1rem;
}
.right-footer-copy{
    gap: 30px;
}
.copylink{
    transition: 0.2s all ease-in-out;
}
.copylink:hover{
    color: var(--main-green);
}



/* ----responsive - queries----- */

@media screen and (max-width:991px) {
    .hoverlinks{
        gap: 15px;
        justify-content: space-between;
    }
    .left-nav h2{
        font-size: 1.8rem;
    }
    .about-us-section-cont{
        align-items: center;
    }
    .services-land-card{
        width: 50%;
    }
    .services-cards-area-land .services-land-card:nth-child(-n+4){
        border-bottom: 1px dotted #EAECF0;
    }
    .services-cards-area-land .services-land-card:nth-child(4){
        border-right: none;
    }
    .services-cards-area-land .services-land-card:nth-child(3){
        border-left: none;
        border-right: 1px dotted #EAECF0;
    }
    .mid-footer{
        width: 50%;
        gap: 40px;
        justify-content: space-evenly;

    }
    .right-footer{
        width: 80%;
    }
    .footer-cont{
        flex-wrap: wrap;
        justify-content: center;
    }
    .left-testi-card{
        width: 40%;
    }
    .right-testi-card{
        width: 60%;
    }
    
}
    
@media screen and (max-width:767px) {
    .nav-toggle{
        display: block;
    }
    .left-nav{
        position: relative;
    }
    .hoverlinks{
        position: absolute;
        flex-direction: column;
        width: 100%;
        left: -100%;
        top: 63px;
        background-color: #1c1c1c;
        padding: var(--padding-inline);
        transition: 0.2s all ease-in-out;
    }
    .hoverlinks.active{
        left: 0%;
    }
    .left-nav h2{
        font-size: 2.5rem;
    }
    .main-banner-cont{
        flex-direction: column-reverse;
        height: calc(100vh - 83px);
        margin-bottom: 100px;
    }
    .left-main-banner{
        width: 100%;
    }
    .right-main-banner{
        width: 60%;
    }
    .main-text h1{
        font-size: 2.5rem;
    }
    .about-us-section-cont{
        flex-direction: column-reverse;
        border: none;
        gap: 50px;
    }
    .left-land-aboutus{
        width: 100%;
    }
    .right-land-aboutus{
        width: 100%;
        height: 35vh;
    }
    .services-cards-area-land{
        padding: 25px;
    }
    .services-land-card{
        width: 100%;
        border-left:none !important;
        border-right: none !important;
        border-bottom: 1px dotted #EAECF0;
        padding: 40px var(--padding-inline);
    }
    .why-choose-cont{
        flex-direction: column-reverse;
        border: none;
    }
    .left-whychoose{
        width: 100%;
        height: 30vh;
    }
    .left-whychoose img{
        object-fit: cover;
        object-position: top;
    }
    .right-whychoose{
        width: 100%;
    }
    .main-testi{
        flex-direction: column-reverse;
    }
    .testimonial-asset{
        display: none;
    }
    .testimonial-header{
        width: 100%;
        align-items: center;
    }
    .testi-card{
        flex-direction: column-reverse;
    }
    .right-testi-card{
        width: 100%;
    }
    .left-testi-card{
        width: 100%;
    }
    .testi-lprofile{
        width: 15%;
    }
    .testi-profile{
        align-items: center;
    }
    .left-footer,.mid-footer,.right-footer{
        width: 100%;
    }
    .mid-footer{
        justify-content: space-between;
    }
    .footer-copy{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
@media screen and (max-width:479px) {
    .main-banner-cont{
        height: calc(95vh - 83px);
    }
    .top-left-main-banner h1{
        font-size: 2.5rem;
    }
    .right-main-banner{
        width: 100%;
        height: 15vh;
    }
    .right-main-banner img{
        object-fit: contain;
    }
    .bottom-left-main-banner h2{
        font-size: 1.5rem;
    }
    .bottom-left-main-banner h1{
        font-size: 2rem;
    }
    .bottom-left-main-banner h3{
        font-size: 1rem;
    }
    .bottom-left-main-banner{
        gap: 10px;
    }
    .services-cards-area-land{
        padding: 15px;
    }
    .val h2,.right-testi-card h2{
        font-size: 1.5rem;
    }
    .right-testi-card p{
        font-size: 1rem;
    }
    .main-text h1{
        font-size: 2rem;
    }
    .copylink{
        font-size: 0.8rem;
    }
    .left-footer-copy p{
        font-size: 0.9rem;
    }
}